<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="LivrariaModelContainer" connectionString="metadata=res://*/LivrariaModel.csdl|res://*/LivrariaModel.ssdl|res://*/LivrariaModel.msl;provider=System.Data.SqlClient;provider connection string='data source=.\SQLEXPRESS;attachdbfilename=&quot;C:\Users\Flavio Docek\Códigos\dotNet\Livraria\Livraria\App_Data\LivrariaDB.mdf&quot;;integrated security=True;user instance=True;multipleactiveresultsets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="LivrariaDBEntities" connectionString="metadata=res://*/LivrariaModel.csdl|res://*/LivrariaModel.ssdl|res://*/LivrariaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;attachdbfilename=|DataDirectory|\LivrariaDB.mdf;integrated security=True;user instance=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>